body {
  font-family: 'Bahnschrift' ,'Comic Sans MS', sans-serif;
  background: linear-gradient(to right, hsl(317, 88%, 13%), hsl(218, 68%, 21%));
  text-align: center;
  padding: 30px;
  color: hsl(0, 0%, 20%);
}
h1 {
  color: white;
  font-size: 2.5rem;
}
#aura-display {
  font-size: 2rem;
  margin: 0;
  padding: 15px;
  background: hsl(50, 100%, 88%);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 0.4em;
  box-shadow: 0em 0em 1em;
}
button {
  background-color: hsl(163, 83%, 64%);
  color: black;
  padding: 12px 20px;
  font-size: 1rem;
  font-family: 'Bahnschrift' ,'Comic Sans MS', san-serif;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 8px;
  box-shadow: 0 0 8px black;
  transition: all 0.1s;
}
button:hover {transform: scale(1.15)}
button:active {transform: scale(0.85)}
#click-btn {
  background-color: hsl(46, 100%, 83%);
  box-shadow: 0em 0em 1em;
}
.card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  margin: 30px auto;
  /* max-width: 750px; */
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}
.triple-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  box-shadow: 0em 0em 1em;
}
.item, .upgrade, .stock {
  background: hsl(198, 19%, 89%);
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0em 0em 1em;
}
.item div, .upgrade div {
  text-align: left;
  flex: 1;
}
.item button, .upgrade button {
  font-size: 0.9rem;
  padding: 6px 12px;
  border-radius: 8px;
  background-color: hsl(163, 83%, 64%);
  box-shadow: 0em 0em 1em;
  border: none;
  cursor: pointer;
}
/* .stock-arrow.up {color: green;}
.stock-arrow.down {color: red;} */
#sd {
  border-radius: 0.5em;
  height: 3em;
  box-shadow: 0em 0em 1em black;
}

.third {
  flex: 1 1 32%;
  min-width: 250px;
}
.Stocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1rem 1fr;
  grid-template-areas: 
    "graph buy"
    "graph own"
    "graph sell";
}
canvas {
  grid-area: graph;
  max-width: 84vw;
}
footer {
  color: white;
}